<div class="utility-nav">
			<div class="column-half">

				<!-- <div id="environment-dropdown">
						<label for="environment-name">Service Name</label>
					  	<select name="select" class="form-control environment-dropdown-list" id="environment-name">
						  		<option value="value1" selected>Live</option>
							  	<option value="value1">Trial</option> 
								<option value="value2">Worldpay Test</option>
						</select>			
				</div> -->
				<p class="service-name">Send money to a prisoner <span class="live-tag">&#9654; Live</span></p>

			</div>
			<div class="column-half">
				<ul>
					<li><a href="staff-dashboard">Dashboard</a></li>
    				<li><a href="sheets-test">Transactions</a></li>
    				<li><a class="utility-active" href="team-members">Settings</a></li>
				</ul>
			</div>
		</div>
