{% extends "layout.html" %}

{% block page_title %}
  Transaction list
{% endblock %}

{% block content %}
<main id="content" role="main">

<div class="grid-row">
		{% include "includes/utility-navigation-settings-2.html" %}
</div>
	
<div class="grid-row">
	<!-- Left nav -->	
	<div class="column-one-third">
		{% include "includes/left-navigation-servicename.html" %}		
	</div>

	<!-- Main body -->

	<div class="column-two-thirds">
	    {% include "includes/settings/service-name.html" %} 		
  	</div>


	<!-- Team members list -->
		

</div>
</main>

{% endblock %}
