{% extends "layout.html" %}

{% block page_title %}
  GOV.UK payment page
{% endblock %}

{% block content %}
<main id="content" role="main">

<div class="grid-row">
		{% include "includes/utility-navigation-dashboard.html" %}
</div>

<div class="grid-row">
 
	    <div class="column-two-thirds">
		      <h1 class="heading-large underline">Dashboard</h1>	      	
		</div>
		<div class="column-one-third table-overview">
			<a href="/staff-dashboard-table">View weekly overview</a>
		</div>
</div>		
	
		<ul class="tabs">
		    <li><a href="/staff-dashboard-graph">Today</a></li>
		    <li class="current"><a href="/staff-dashboard-graph-2">Yesterday</a></li>
		    <li><a href="/staff-dashboard-graph-3">Last 7 days</a></li>
		</ul>

	
 <!-- Transaction overview -->
		<div class="grid row ">
			<div class="transaction-categories">
				
			<div class="category category--successful">
				<p>Successful</p>
				<div class="category__amount">
					<!-- react-text: 89 -->221<!-- /react-text --><!-- react-text: 90 --> <!-- /react-text --><div class="category__sum"><!-- react-text: 92 -->£<!-- /react-text --><!-- react-text: 93 -->18183<!-- /react-text --><!-- react-text: 94 -->.00<!-- /react-text -->
					</div>
				</div>
			</div>

			<div class="category category--failed">
				<p>Failed</p>
				<div class="category__amount">
					<!-- react-text: 98 -->28<!-- /react-text --><!-- react-text: 99 --><!-- /react-text --><div class="category__sum"><!-- react-text: 101 -->£<!-- /react-text --><!-- react-text: 102 -->1716<!-- /react-text --><!-- react-text: 103 -->.00<!-- /react-text --></div>
				</div>
			</div>

			<div class="category category--refunds">
				<p>Refunds</p>
				<div class="category__amount">
					<!-- react-text: 107 -->9<!-- /react-text --><!-- react-text: 108 --><!-- /react-text --><div class="category__sum"><!-- react-text: 110 -->£<!-- /react-text --><!-- react-text: 111 -->651<!-- /react-text --><!-- react-text: 112 -->.00<!-- /react-text --></div>
				</div>
			</div>

			<img alt="" class="arrow" src="/public/images/category-arrow.png">
			
			<div class="category category--net-income">
				<p>Net income</p>
				<div class="category__amount">212
					<div class="category__sum"><!-- react-text: 118 -->£<!-- /react-text --><!-- react-text: 119 -->17532<!-- /react-text --><!-- react-text: 120 -->.00<!-- /react-text --></div>
				</div>
			</div>
		</div>	
		

<!-- Graphs-->		
	<div class="graphs">
		
			<h3 class="heading-small">Transaction value (£)</h3>
				<img alt="" src="/public/images/value.png" width="920">
			<h3 class="heading-small">Transaction volume</h3>
				<img alt="" src="/public/images/transactions.png" width="920">
		
	</div>
	
	</div>
</div>
</div>
</main>


{%endblock%}
