{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/pay-offline-service/embassy-fees">Back</a>

      <h1 class="heading-large">
        Which embassy are you paying for?
      </h1>

      <div class="form-group">
        <div class="form-group">
          <label class="form-label-bold" for="country-selector">
            Select a country
          </label>
          {% include "includes/country_selector.html" %}
        </div>
      </div>

      <a class="button" href="/pay-offline-service/embassy-fees/choose-service">Next</a>

    </div>
  </div>
</main>

{% endblock %}
