{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Pay for a British Embassy service</h1>

      <h2 class="heading-medium">Your invoice</h2>

		  <div class="">

	      <p>
	         You owe:
	      </p>
	      
	      <strong class="bold-xlarge">£4,6432</strong>


			  <table>
			    <thead>
			      <tr>
			        <th colspan="2">More details</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>Description</td>
			        <td>Venue hire</td>
			      </tr>
			     	<tr>
			        <td>Date</td>
			        <td>17/04/2016</td>
			      </tr>
			      <tr>
			        <td>Bill to</td>
			        <td>George Michael</td>
			      </tr>
			      <tr>
			      	<td>Reference number</td>
			      	<td>123-456</td>
		      	</tr>	
			    </tbody>
			  </table>
			</div>

      	<div class="form-download">
      		<p>
		        <a href="#">Download Invoice (PDF)</a>
			</p>
	    </div>
	    <p>
	        <a href="/pay/choose-payment" class="button">Make payment</a>
	    </p>

    </div>
  </div>
</main>

{% endblock %}


