{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Rent a government venue</h1>

      <p>Use this service to pay for a room you've rented from government.</p>

      <p>It usually takes around 5 minutes.</p>

      <p>
        <a class="button button-start" href="/pay-offline-service/room-rent/enter-ref-number" role="button">Start now</a>
      </p>

    </div>
    <div class="column-third">

      <!-- <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside> -->

    </div>

    </div>
  </div>
</main>

{% endblock %}


