{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Rent a government venue</h1>

      <h2 class="heading-medium">Your invoice</h2>

      <h3 class="heading-small">Reference Number: A123456</h3>

		  <div class="">

	      <p>
	         You owe:
	      </p>
	      
	      <strong class="bold-xlarge">£4,643</strong>


			  <table>
			    <thead>
			      <tr>
			        <th colspan="2">More details</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>Description</td>
			        <td>Venue hire for 1 day</td>
			      </tr>
			     	<tr>
			        <td>Date</td>
			        <td>17/04/2016</td>
			      </tr>
			      <tr>
			        <td>Bill to</td>
			        <td>George Michael</td>
			      </tr>
			    </tbody>
			  </table>
			</div>

	  <div>
    <p>
		<a href="#">Download Invoice (PDF)</a>
	</p>
	    </div>

      <a href="#" class="button">Make payment</a>
    </div>
  </div>
</main>

{% endblock %}


