<div class="column-half no-left-padding">
	<div class="dashboard-section">
	<table class="big-type-table">
	    <thead>
	      <tr>
	        <th colspan="2">Sucessful payments</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr class='clickable-row table-colour' data-href='#'>
	        <td>582</td>
	        <td class="right-align">£59,102</td>
	      </tr>
	     </tbody>
	</table>

	<table class="big-type-table">
	    <thead>
	      <tr>
	        <th colspan="2">Failed payments</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr class='clickable-row table-colour-grey' data-href='#'>
	        <td>34</td>
	        <td class="right-align">£7,098</td>
	      </tr>
	     </tbody>
	</table>	
	</div>	
</div>

<div class="column-half">
	<div class="dashboard-section">
	<table class="big-type-table">
	    <thead>
	      <tr>
	        <th colspan="2">Refunded payments</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr class='clickable-row table-colour-red' data-href='#'>
	        <td>4</td>
	        <td class="right-align">£762</td>
	      </tr>
	     </tbody>
	</table>

	<table class="big-type-table">
	    <thead>
	      <tr>
	        <th colspan="2">Net income</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr class='clickable-row table-colour-black' data-href='#'>
	        <td>578</td>
	        <td class="right-align">£58,340</td>
	      </tr>
	     </tbody>
	</table>
</div>
</div>