{% extends "layout.html" %}

{% block page_title %}
  GOV.UK payment page
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
		{% include "includes/utility-navigation-settings.html" %}
</div>

	<div class="grid-row">
	
<!-- Left nav -->
		<div class="column-one-third">
		{% include "includes/left-navigation.html" %}		
		</div>
 <!-- Main body -->
 
	    <div class="column-two-thirds">
		{% include "includes/settings/tokens.html" %}   
	    </div>
</div>
</main>


{%endblock%}
