{% extends "layout.html" %}

{% block page_title %}
  Transaction list
{% endblock %}

{% block content %}
<main id="content" role="main">

<div class="grid-row">
		{% include "includes/utility-navigation-settings.html" %}
</div>
	
<div class="grid-row">
	<!-- Left nav -->	
	<div class="column-one-third">
		{% include "includes/left-navigation-team.html" %}		
	</div>

	<!-- Main body -->

	<div class="column-two-thirds">
	    <h1 class="heading-large underline">Email notifications</h1>  

	
		<h2 class="heading-medium">Are you sure you want to turn off email notifications?</h2>
		
		<div class="notice">
		   <i class="icon icon-important">
		    <span class="visually-hidden">Warning</span>
		  </i>
		  <strong class="push-bottom">
		    Your users won’t receive payment confirmation emails from GOV.UK Pay if you do this.
		  </strong>
		</div>
		
		<div class="form-group">
			<a href="#">
				<input id="generate-button" type="submit" class="button" value="Turn off email notifications">
			</a>
		</div>


        </div>  		
  	</div>


	<!-- Team members list -->
		

</div>
</main>

{% endblock %}
