{% extends "layout.html" %}

{% block page_title %}
  GOV.UK payment page
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
		{% include "includes/utility-navigation.html" %}
</div>

	<div class="grid-row">
	
<!-- Left nav -->
	<div class="column-quarter">

	{% include "includes/left-navigation.html" %}		
	</div>
<!-- Main body -->

    <div class="column-three-quarters">

	    <div class="grid-row padding-grid-row">
	      <h1 class="heading-large underline">API Keys</h1>
		</div>

		<div class="overview">
      		
      		<div class="column-one-half team-active">
	      		<h2 class="heading-medium staff-subheading">
    				New key generated
  				</h2>
			</div>
			<form action="generate" class="form">
				<div class="form-group">
				<p>Please copy this now as it won't be shown again</p>
					<label class="form-label" for="description"> Test
					</label>

					<textarea id="description" name="description" type="text" maxlength="100" size="150" class="form-control">q6314nfnbpt541gvcb61g5rpahb606pc9vigvbcclbs9haijq8npd7sf1</textarea>
				</div>				
			</form>
			<div class="form-group">
				<a href="/tokens">
					<input id="generate-button" type="submit" class="button" value="Finish">
				</a>
			</div>
		</div>       
	</div>
</div>
</main>


{%endblock%}
