{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">The GOV.UK prototype kit</h1>


    <h2 class="heading-medium">Main</h2>
	    <ul>
	      	<li><a href="/staff-dashboard">Dashboard</a></li>
	        <li><a href="/sheets-test">Sheets test</a></li>
	    </ul>

    <h2 class="heading-medium">Pay offline service</h2>
	    <ul>	      
			<li><a href="/pay-offline-service/staff-dashboard">Dashboard</a></li>
			<p class="font-xsmall">Admin dashboard to include invoice management.</p>
	    	<li><a href="pay-offline-service/room-rent/index">Rent a room</a></li>
	    	<p class="font-xsmall">Customer facing. User has received a ref number and this link.</p>
	        <li><a href="pay-offline-service/embassy-fees/index">Embassy Fees</a></li>
	        <p class="font-xsmall">Customer facing. User needs to pay before using service.</p>
	    </ul>

    </div>
  </div>
</main>

{% endblock %}
