{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Pay prototype links</h1>


    <h2 class="heading-large"></h2>
	    
	    <h3 class="heading-small">Latest admin tool prototype with filtering</h3>
		    <ul>
		      	<li><a href="/staff-dashboard">Dashboard</a></li>
		        <li><a href="https://pay-staff-tool-2.herokuapp.com/sheets-test">Heroku transactions list</a></li>
		        <li><a href="/sheets-test">Prototype transactions list</a></li>
		        <li><a href="https://github.com/stephenjoe1/pay-staff-tool-2">Git repo</a></li>
		    </ul>

		<h3 class="heading-small">Managing team members (Oscar Smith at the bottom is clickable)</h3>
		    <ul>
		        <li><a href="https://pay-staff-tool-2.herokuapp.com/sheets-test">Heroku Team Members</a></li>
		        <li><a href="/team-members">Prototype Team Member</a></li>
		    </ul>

		<h3 class="heading-small">Old admin prototype (filtering doesn’t work).</h3>
		<p class="font-xsmall">Shows double line entries for refunds.</p>
		    <ul>
		        <li><a href="https://pay-staff-tool.herokuapp.com/staff-transaction-list-double-line-4">Heroku Old Prototype</a></li>
		        <li><a href="https://github.com/stephenjoe1/pay-staff-tool">Git repo</a></li>
		    </ul>    


		<h3 class="heading-small">Pay product page</h3>
		<p class="font-xsmall">Account creation and sign in also work from here.
		Click on ‘Not received an email?’ to get past the ‘Check your email’ part of the account creation flow.</p>
		    <ul>
		        <li><a href="https://gaap-product-pay.herokuapp.com/govuk_pay_overview-2">Heroku Pay Product Page and account flows</a></li>
		        <li><a href="https://github.com/stephenjoe1/gaap_product_pages">Git repo</a></li>
		    </ul> 

		<h3 class="heading-small">Standard user face payment flow</h3>
		    <ul>
		        <li><a href="https://payment-prototype.herokuapp.com/test-choose-payment">Standard user face payment flow</a></li>
		        <li><a href="https://github.com/alphagov/payment-prototype-options">Git repo</a></li>
		    </ul>        


	    <h3 class="heading-small">Pay offline service</h3>
	    <p class="font-xsmall">Missing payment flow. Some links and styles broken. Needs updating.</p>
		    <ul>	      
				<li><a href="/pay-offline-service/staff-dashboard">Dashboard</a></li>
				<p class="font-xsmall">Admin dashboard to include invoice management.</p>
		    	<li><a href="pay-offline-service/room-rent/index">Rent a room</a></li>
		    	<p class="font-xsmall">Customer facing. User has received a ref number and this link.</p>
		        <li><a href="pay-offline-service/embassy-fees/index">Embassy Fees</a></li>
		        <p class="font-xsmall">Customer facing. User needs to pay before using service.</p>
		        <br/>
		        <li><a href="https://pay-for-offline-prototype.herokuapp.com/">Old Prototype</a></li>
		        <li><a href="https://github.com/alphagov/pay-online-prototype">Old Prototyp repo</a></li>
		        
		    </ul>

    </div>
  </div>
</main>

{% endblock %}
