{% extends "layout.html" %}

{% block page_title %}
  GOV.UK payment page
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
		{% include "includes/utility-navigation-settings.html" %}
</div>

	<div class="grid-row">
	
<!-- Left nav -->
		<div class="column-one-third">

		{% include "includes/left-navigation.html" %}		
		</div>
 <!-- Main body -->
 
	    <div class="column-two-thirds">

		    <div class="grid-row padding-grid-row">
		      <h1 class="heading-large underline margin-bottom">API Keys</h1>
			</div>
			
				<ul class="tabs">
				    <li class="current"><a href="/tokens">Active keys</a></li>
				    <li><a href="#">Revoked keys</a></li>
				</ul>

			<div class="tab-content current">
			    <h2 id="available-tokens" class="heading-medium remove-top-margin">
			        There are 2 active API keys
			    </h2>

		        <a class="button generate-key" href="generate">Generate a new key</a>
		    </div>  
		    <ul class="key-list">	
			    <li class="key-list-item js-">
		            <div class="heading-small remove-top-margin">Test key one</div>
			        <div class="font-xsmall">Created by: sonia.turcotte+sandbox@digital.cabinet-office.gov.uk</div>
		            <div class="font-xsmall">Date created: 10 Nov 2016 – 15:29</div>
		            <div class="font-xsmall push-bottom-sml">Last used: 10 Nov 2016 – 15:29</div>
		            <div class="js-edit-controls">
						<span><a href="#">Edit description</a></span>
						<span class="push-left"><a href="#">Revoke key</a></span>
					</div>
	            </li> 
	             <li class="key-list-item js-">
		            <div class="heading-small remove-top-margin">Test key two</div>
			        <div class="font-xsmall">Created by: sonia.turcotte+sandbox@digital.cabinet-office.gov.uk</div>
		            <div class="font-xsmall">Date created: 10 Nov 2016 – 15:29</div>
		            <div class="font-xsmall push-bottom-sml">Last used: 10 Nov 2016 – 15:29</div>
		            <div class="js-edit-controls">
						<span><a href="#">Edit description</a></span>
						<span class="push-left"><a href="#">Revoke key</a></span>
					</div>
	            </li>  
	        </ul>    
	</div>
</div>
</main>


{%endblock%}
